body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.carte-text {
    font-size: .6em;
}

.carte-title {
    font-size: .7em;
}

#carte {
    background-image: url('Images/CarteBackGround.jpg');
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 8.5cm;
    height: 5.5cm;
}


#carteback {
    background-image: url('Images/CarteBackGroundBack.jpg');
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 8.5cm;
    height: 5.5cm;
}

