
@{
    ViewBag.Title = "Rapport de frequentation";
}

<h5 class="mt-3">@ViewBag.Title</h5>

<form method="get">
    <div class="row">
        <div class="col">
            <select class="form-select">
                <option>- Date d'enregistrement -</option>
                <option>- Date d'entrée en RDC -</option>
            </select>
        </div>
        <div class="col ">
            <input type="text" class="form-control datepicker" />
        </div>
        <div class="col ">
            <input type="text" class="form-control datepicker" />
        </div>
        <div class="col">
            <select class="form-select">
                <option>- Pays rigine -</option>
            </select>
        </div>  
        <div class="col">
            <select class="form-select">
                <option>- Ville de residence -</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary"> Afficher</button>
        </div>
    </div>
</form>

<div class="mt-1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Date d'enregistrement</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Date entrée en RDC</th>
                <th>Adresse actuelle</th>
                <th>Dernière carte (en cours)</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>