@{
    ViewBag.Title = "Accuiel";
}

    <div class="container pt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Identification</h5>
                        <p class="card-text"> Indentification de nouvelles personnes. </p>
                        <a href="@Url.Action("Create","Record",new { area="Identification" })" class="btn btn-primary w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Verification</h5>
                        <p class="card-text">Vérification des cartes, affichage et modification des informations.</p>
                        <a href="@Url.Action("Index","Verification")" class="btn btn-primary w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Deplacement</h5>
                        <p class="card-text">Historique des déplacements  des personnes identifiées.</p>
                        <a href="#" class="btn btn-light w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Alerte d'expiration</h5>
                        <p class="card-text">Rapport d'expiration des cartes, passeports et visas.</p>
                        <a href="#" class="btn btn-light w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rapport de fréquentation</h5>
                        <p class="card-text"> Historique et liste d'enregistrement des personnes.</p>
                        <a href="@Url.Action("Index","Default",new { area="RapportFrequentation" })" class="btn btn-primary w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Configuration</h5>
                        <p class="card-text"> Enregistrement et configuration des prérequis: utilisateurs, etc.</p>
                        <a href="@Url.Action("Index","Default",new { area="Configuration" })" class="btn btn-primary w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>