@model StrangerRecord.Models.Entity.Carte
@using StrangerRecord.Service;

@{
    ViewBag.Title = "Details";
}
<div class="row mt-3">
    <div class="col-4">
        @Html.Partial("_DetailIdentificationPartial", Model.Identification) 
    </div>
    <div class="col-8">
        @Html.Partial("_DetailCartePartial", Model)
       
        @Html.Partial("_DetailSejourPartial", Model)
         
    </div>
</div>


